.important {
background-color: rgb(218, 109, 95);
}

#description {
  margin: 12px;
}

h1 {
  font-size: 48px;
  color: rgb(71, 62, 62);
  padding: 12px;
  margin: 12px;
}

a {
  background-color: rgb(167, 1, 78);
  color: white;
  border: 1px solid rgb(167, 1, 78);
  border-radius: 4px;
  font-size: 24px;
  padding: 12px;
  display: inline-block;
  margin: 12px;
}

a:hover {
  text-decoration: none;
  background-color: rgb(180, 12, 9);
}

ol {
  list-style: none;
  width: 500px;
  margin: 36px auto 0;
  padding: 0;
}

li {
  background-color: rgb(223, 136, 124);
  border-radius: 6px;
  margin: 32px;
  padding: 12px;
}

header p {
  margin-top: 36px;
}