main {
  width: 800px;
  margin: 200px auto 72px auto;
  padding: 8px;
  background-color: rgb(218, 109, 95);
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-width: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0.3);
}

img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  /* display: inline-block; */
  margin-top: -117px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

span {
  color: rgb(65, 14, 37);
}

#today-challenge {
  color: rgb(36, 27, 27);
  font-size: 48px;
  font-weight: bold;
  padding: 12px;
  margin: 12px;
}

a {
  color: rgb(65, 14, 37);
}
footer {
  padding: 12px;
}
